# ---------------------------------- General Environment Variables ---------------------------------
JWT_SECRET=XXXX

# --------------------------------- Database Environment Variables ---------------------------------
DATABASE_URL=XXXX
